<ActionBar title="Contact Us" class="action-bar">

</ActionBar>
<!-- showOverNavigation="true" will overlay the ActionBar  -->
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <ScrollView orientation="vertical" tkMainContent class="page">
        <Gridlayout >


            <StackLayout  class="p-10 border">
                <StackLayout>
                    <Label class="h2" [text]="'Contact Information'"></Label>
                    <Label class="h1"></Label>
                    
                    <StackLayout marginLeft="15">
                        <Label class="h3" [text]="'121' + ',' +  ' Clear Water Bay Road'" textWrap="true"></Label>
                        <Label class="h3" [text]="'Clear Water Bay' + ',' + 'Kowloon'" textWrap="true"></Label>
                        <Label class="h3" [text]="'HONG KONG'" textWrap="true"></Label>
                        <Label class="h3" [text]="'Tel' + ':' + '+' + ' 852 1234 5678'" textWrap="true"></Label>
                        <Label class="h3" [text]="'Fax' + ':' + '+' + ' 852 8765 4321'" textWrap="true"></Label>
                        <Label class="h3" [text]="'Email' + ':' + 'confusion' + '@' + 'food.net'" textWrap="true"></Label>
                    </StackLayout>

                </StackLayout>
            </StackLayout>


        </Gridlayout>
    </ScrollView>
</RadSideDrawer>